{% extends "overseasWebApp/header.html" %} {% block content %}

<div class="container-fluid ">
 <div class="row ">
  <div class="col-sm-* jumbotron aboutPage">
   <div class="text-left">
   <center>
   <div class="text-center">
    <h2>Welcome to Eupherates Overseas Pvt Ltd </h2>
   </div> 
    <div class="heading-seperator"></div>
      
    <p>Eupherates Overseas Pvt Ltd is a Pvt Ltd Company formed on 20th September 2006  within the meaning of Section2(35) and 3(10) (ii) of the Copmanies Act 1956  registered under the Ministry of Company Affairs vide CIN number as U23209DL2006PTC154134 issued by Registrar of Companies New Delhi India. This company was formed with the vision to carry out Business .
    </p>
    </center>
   </div>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-* jumbotron" id="board">
   <div class="text-left">
    <h2>Board of Directors</h2>
    <div class="row boardPic">
     <div class="col-sm-6 text-left">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      <h3>Mr Rashid Raza
      <br>
         <small>  Director</small>
         <small>  DHMS (Hons) BU</small>
      </h3></br>
     </div>

     <div class="col-sm-6 text-left">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      <h3>Mrs SARWAT NASREEN
         <br>
         <h4>           Director</h4>
         <small>   MA (Hons) </small>
      </h3></br>
     </div>
    </div>
   </div>
  </div>
 </div>

 

 <div class="row">
  <div class="col-sm-12 jumbotron" id="clients">
   <div class="text-left">
    <h2>Clients</h2>
    <p>Eupherates Overseas Pvt ltd has a number of clients worldwide mostly in African Subcontinent and european countries and in India as well 
    </p>
   </div>
  </div>
 </div>
</div>

{% endblock %}
