{% extends "overseasWebApp/header.html" %} {% block content %}

<div class="container-fluid ">
 <div class="row ">
  <div class="col-sm-* jumbotron aboutPage">
   <div class="text-left">
    <h2>About</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </p>
   </div>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-* jumbotron" id="board">
   <div class="text-left">
    <h2>Board of Directors</h2>
    <div class="row boardPic">
     <div class="col-sm-6 text-left">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      <h3>ABC
         <small>Job Title</small>
      </h3>
     </div>

     <div class="col-sm-6 text-left">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      <h3>XYZ
         <small>Job Title</small>
      </h3>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-12">
   <h2>Finance</h2>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-12">
   <h2>Clients</h2>
  </div>
 </div>
</div>

{% endblock %}
