<!DOCTYPE html>
<html lang="en">

<head>
 <title>Eupherates Overseas</title>
 <meta charset="utf-8"> {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
 <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <link rel="shortcut icon" href="{% static 'images/eo.png' %}" />
 <link rel="stylesheet" href="{% static 'dist/user_css.css' %}" type="text/css" />
</head>

<body>
 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-*">
    <nav class="navbar navbar-default">
     <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">Eupherates Overseas</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
        <li ng-class="{ active: isActive('/')}" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="/about/">About Us
            <span class="caret"></span></a>
         <ul class="dropdown-menu">
          <li><a href="/about/">Introduction</a></li>
          <li><a href="/about/#board">Board of Directors</a></li>
          <li><a href="/about/#finance">Finance</a></li>
          <li><a href="/about/#clients">Clients</a></li>
         </ul>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Export
            <span class="caret"></span></a>
         <ul class="dropdown-menu">
          <li><a href="#">TMT Bars</a></li>
          <li><a href="#">Garments</a></li>
          <li><a href="#">Food Products</a></li>
          <li><a href="#">Industrial Equipments</a></li>
         </ul>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Import
                                    <span class="caret"></span></a>
         <ul class="dropdown-menu">
          <li><a href="#">HMS</a></li>
          <li><a href="#">Food Products</a></li>
         </ul>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Information Technology
                                    <span class="caret"></span></a>
         <ul class="dropdown-menu">
          <li><a href="/it/">Software Development</a></li>
          <li><a href="#">Website Development</a></li>
          <li><a href="#">Mobile App Developemt</a></li>
          <li><a href="#">IT Support and Services</a></li>
         </ul>
        </li>

        <li ng-class="{ active: isActive('/contact')}"><a href="/contact">Contact</a></li>
       </ul>
      </div>
     </div>
    </nav>
   </div>
  </div>
 </div>


 <div>
  {% block content %} {% endblock %}
 </div>

 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-*">
    <footer class="container-fluid text-center footerMain">
     <p>&copy; Copyright 2016 All rights reserved | Developed and maintained by Eupherates Overseas Pvt Ltd.</p>
    </footer>
   </div>
  </div>
 </div>
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>
