{% extends "overseasWebApp/header.html" %} {% block content %} 

<div class="row">
  <div class="col-sm-12 jumbotron" id="SOFTAPP">
  <center>
  <div class="text-center">
    <h2>Software Development</h2>
   </div>
   <div class="heading-seperator"></div>
  </center>
     </div>
 </div>



 <div class="row">
  <div class="col-sm-12 jumbotron" id="WEBAPP">
  <center>
   <div class="text-center">
    <h2>Website Development</h2>
   </div>
   <div class="heading-seperator"></div>
</center>
  </div>
 </div>



 <div class="row">
  <div class="col-sm-12 jumbotron" id="MOBAPP">
   <center>
   <div class="text-center">
    <h2>Mobile App Development</h2>
   </div>
  	<div class="heading-seperator"></div>
   </center>
   </div>
 </div>


 <div class="row">
  <div class="col-sm-12 jumbotron" id="ITSUPPORT">
   <center>
   <div class="text-center">
    <h2>IT Support </h2>
   </div>	
   	<div class="heading-seperator"></div>
   </center>   
  </div>
 </div>






{% endblock %}
